@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
@import 'tailwindcss';

:root {
  /* --text: #6b6375; */
  /* --text-h: #08060d; */
  --bg: #6a7282;
  --border: #e5e4e7;

  --sans: 'Noto Sans JP', Roboto, sans-serif;
  --heading: 'Noto Sans JP', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  /* color-scheme: light dark; */
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --text: black; */
    /* --text-h: #08060d; */
    --bg: #eaefef;
    --border: #2e303a;
  }
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
}

p {
  margin: 0;
}

button {
  cursor: pointer;
}
