@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
@import 'tailwindcss';

:root {
  --sans: 'Noto Sans JP', Roboto, sans-serif;
  --heading: 'Noto Sans JP', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  --bg: #eaefef;
  --border: #2e303a;

  font: 18px/145% var(--sans);
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  /* border-inline: 1px solid var(--border); */
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
}

p {
  margin: 0;
}

@theme {
  --animate-modal-in: modal-in 0.3s ease-out forwards;
  --animate-fade-in: fade-in 0.2s ease-out forwards;
  --animate-modal-out: modal-out 0.2s ease-in forwards;
  --animate-fade-out: fade-out 0.2s ease-in forwards;

  @keyframes modal-in {
    0% {
      opacity: 0;
      transform: scale(0.9) translateY(20px);
    }
    100% {
      opacity: 1;
      transform: scale(1) translateY(0);
    }
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes modal-out {
    0% {
      opacity: 1;
      transform: scale(1) translateY(0);
    }
    100% {
      opacity: 0;
      transform: scale(0.9) translateY(10px);
    }
  }

  @keyframes fade-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
}
